html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    text-align: center;
}

.navbar {
    margin-bottom: 10px;
}

.jumbotron {
    margin: 10px;
    padding: 20px;
}

.container {
    padding: 0px;
}

textarea {
    resize: none;
}


/* Register CSS */

.registerForm .fas {
    position: relative;
    top: -28px;
    right: 10px;
    float: right;
}


/* Forum CSS */

.forum {
    margin-left: 20px;
    height: 88vh;
    width: 75vw;
}

.forum-content {
    overflow-y: scroll;
    max-height: 75%;
}

.faq {
    margin-right: 20px;
    height: 88vh;
    width: 20vw;
    overflow-y: scroll;
}

.post {
    width: 48%;
    height: 350px;
    background-color: lightgray;
}

.faq .post {
    width: 95%;
}

.post-box {
    background-color: lightgray;
    width: 47.5%;
}

.post .post-body {
    width: 100%;
}

.post-actions {
    height: 100%;
    margin-right: 10px;
}

.upvote,
.downvote {
    cursor: pointer;
}


/* Events CSS */

.event {
    margin: 0px 20px 20px 0px;
    padding: 15px;
    background-color: lightgray;
    width: 250px;
    height: 350px;
}


/* Chat CSS */

.chatbox {
    border: solid black 1px;
    margin-right: 30%;
    margin-left: 30%;
    padding: 20px;
    max-width: 500px;
    height: 750px;
}

.messagebox {
    max-height: 600px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.messageContent {
    display: block;
    clear: both;
}

.messageElement .container {
    margin-bottom: 20px;
}

.messageElement p {
    margin-top: 10px;
    max-width: 250px;
    word-wrap: break-word;
    border-radius: 10px;
    padding: 10px;
}

.messageContent small {
    position: relative;
    top: 3px;
}


/* Navbar CSS */

.unreadMessages {
    color: red;
    position: relative;
    top: -38px;
    left: 35px;
}

.unreadMessages span {
    color: white;
    position: relative;
    left: -11px;
    top: -1.5px;
    font-size: 0.8em;
}

.nav-item {
    height: 40px;
}